body{
    background-color: beige;
}

.center{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    width: 22vw;
    margin: 4vw;
    border-radius: 15px;
}